/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "Ubuntu Mono";
  --fontFamily-serif: "Rokkitt"; 
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 18px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  /* 1.200 Minor Third Type Scale */
  --fontSize-tiny: 1rem;
  --fontSize-small: 1.5rem;
  --fontSize-medium: 1.75rem;
  --fontSize-mediumL: 2rem;
  --fontSize-large: 2.5rem;
  --fontSize-huge: 3rem;
  --color-pink: #F92672; 
  --color-white: #F8F8F2;
  --color-yellow: #E6DB74;
  --color-green: #A6E22E;
  --color-orange: #FD971F;
  --color-black: #272822;
  --color-blue: #66D9EF;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-2);
  color: var(--color-white);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-black);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-orange);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-huge);
  color: var(--color-pink);
}

h2 {
  font-size: var(--fontSize-large);
}

h3 {
  font-size: var(--fontSize-mediumL);
}

h4 {
  font-size: var(--fontSize-medium);
  margin: var(--spacing-8) 0px;
}

h5 {
  font-size: var(--fontSize-small);
  margin: var(--spacing-8) 0px;
}

h6 {
  font-size: var(--fontSize-tiny);
  margin: var(--spacing-8) 0px;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */
section {
  padding-left: var(--spacing-2);
  margin-left: calc(-1 * var(--spacing-3));
}

p {
  line-height: var(--lineHeight-normal);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  margin-left: var(--spacing-12);
  margin-bottom: calc(var(--spacing-8) / 2);
  padding-left: var(--spacing-6);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-yellow);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-green);
  font-size: var(--fontSize-small);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-black);
}

/* Link */

a {
  color: var(--color-pink);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-6);
  padding: var(--spacing-2) 0;
  border-bottom: var(--spacing-1) dotted var(--color-green);
}

.global-header {
  border-bottom: var(--spacing-1) dotted var(--color-green);
  margin-bottom: var(--spacing-1);
}

#aboutLink {
  border-left: var(--spacing-1) solid var(--color-blue);
  color: var(--color-pink);
  padding-left: var(--spacing-5);
  margin-left: calc(var(--spacing-2)*-1);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

#search {
  background-color: #414239;
  padding-left: var(--spacing-5);
  color: var(--color-white);
  font-size: calc(calc(var(--fontSize-tiny) + var(--fontSize-small))/2);
  border: none;
  border-left: var(--spacing-1) solid var(--color-blue);
  margin-left: calc(var(--spacing-2)*-1);
}

.main-heading {
  font-size: var(--fontSize-huge);
  margin: 0;
}

.post-list-item {
  border-left: var(--spacing-1) solid var(--color-blue);
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
  padding-left: var(--spacing-3);
  margin-left: calc(var(--spacing-2)*-1);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
  border-left: none;
}

.post-list-item h2 {
  font-size: var(--fontSize-small);
  color: var(--color-orange);
  margin-bottom: 0;
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-2);
  margin-left: var(--spacing-2);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-small);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-8);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}
.blog-post p {
  margin-bottom: var(--spacing-2);
  line-height: calc(calc(var(--lineHeight-tight) + var(--lineHeight-normal)) / 2);
}

.blog-post header h1 {
  margin: var(--spacing-2) var(--spacing-0) var(--spacing-1) var(--spacing-0);
  font-size: var(--fontSize-large);
}

.blog-post header p {
  font-size: var(--fontSize-small);
  font-family: var(--font-heading);
  color: var(--color-blue);
  margin-bottom: var(--spacing-5);
}
.blog-post-nav {
  padding-top: var(--spacing-4);
  border-top: var(--spacing-1) solid var(--color-blue);
}
.blog-post-nav ul {
  margin: var(--spacing-0);
}
.blog-post hr, #about hr {
  border-bottom: var(--spacing-1) dotted var(--color-green);
  margin-top: var(--spacing-4);
}

.blog-post h2 {
  font-size: var(--fontSize-mediumL);
  margin: var(--spacing-8) 0px;
}
.blog-post h3 {
  font-size: var(--fontSize-medium);
  margin: var(--spacing-8) 0px;
}
.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}
.beeg{
  font-size: var(--fontSize-medium);
  color: #F92672;
  line-height: var(--lineHeight-none);
}
.alsoBeeg{
  font-style: italic;
  color: #66D9EF;
  font-weight: var(--fontWeight-semibold);
}
img {
  text-align: center;
  margin: 0 auto;
}
/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
